root = true

[*]
insert_final_newline = false
trim_trailing_whitespace = true

ij_any_if_brace_force = always
ij_any_do_while_brace_force = always
ij_any_for_brace_force = always
ij_any_while_brace_force = always

[*.cs]
ij_any_space_before_colon = false
ij_any_space_after_colon = true

ij_any_space_before_comma = false
ij_any_space_after_comma = true

ij_any_space_before_quest = true
ij_any_space_after_quest = true

ij_any_while_on_new_line = true
ij_any_finally_on_new_line = true
insert_final_newline = true
ij_any_catch_on_new_line = true
ij_any_else_on_new_line = true

ij_any_align_group_field_declarations = true

