**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/charts
**/docker-compose*
**/compose*
**/.env
**/secrets.dev.yaml
**/values.dev.yaml
**/*.md
LICENSE
.editorconfig
