name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      publish-packages:
        description: Publish packages?    
        type: boolean
        required: true
        default: false
      is-alpha:
        description: Alpha version?    
        type: boolean
        required: true
        default: true

env:
  SOLUTIONS: ModularPipelines.sln ModularPipelines.Examples.sln src/ModularPipelines.Azure/ModularPipelines.Azure.sln src/ModularPipelines.AmazonWebServices/ModularPipelines.AmazonWebServices.sln src/ModularPipelines.Google/ModularPipelines.Google.sln

jobs:
  pipeline:
    environment: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Pull Requests' }}
    strategy: 
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    env:
      NuGetGlobalPackagesLocation: "${{ matrix.os == 'windows-latest' && 'D:/nuget-packages' || '/github/home/.nuget/packages' }}"

    steps:
      - name: Add mask
        run: |
          echo "::add-mask::${{ secrets.DOTNET_FORMAT_PUSH_TOKEN }}" 
          echo "::add-mask::${{ secrets.NuGet__ApiKey }}"
          echo "::add-mask::${{ secrets.ADMIN_TOKEN }}"
          echo "::add-mask::${{ secrets.CODACY_APIKEY }}"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
        env:
          NUGET_PACKAGES: ${{ env.NuGetGlobalPackagesLocation }}
      - name: Cache NuGet
        uses: actions/cache@v4
        with:
          path: ${{ env.NuGetGlobalPackagesLocation }}
          key: ${{ matrix.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ matrix.os }}-nuget- }}
      - name: Build ModularPipelines.Analyzers.sln
        run: dotnet build ModularPipelines.Analyzers.sln -c Release
        env:
          NUGET_PACKAGES: ${{ env.NuGetGlobalPackagesLocation }}
      - name: Build
        shell: bash
        run: |
          for SOLUTION in ${{ env.SOLUTIONS }}
          do
            dotnet build $SOLUTION -c Release
          done
        env:
          NUGET_PACKAGES: ${{ env.NuGetGlobalPackagesLocation }}
      
      - name: Run Pipeline
        run: dotnet run -c Release --framework net8.0
        working-directory: "src/ModularPipelines.Build"
        env:
          NUGET_PACKAGES: ${{ env.NuGetGlobalPackagesLocation }}
          GITHUB_TOKEN: ${{ github.token }}
          DOTNET_ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Development' }}
          NuGet__ApiKey: ${{ github.ref == 'refs/heads/main' && secrets.NuGet__ApiKey || null }}
          GitHub__Actor: ${{ github.actor }}
          GitHub__Repository__Id: ${{ github.repository_id }}
          GitHub__StandardToken: ${{ secrets.DOTNET_FORMAT_PUSH_TOKEN }}
          GitHub__AdminToken: ${{ secrets.ADMIN_TOKEN }}
          Publish__ShouldPublish: ${{ (github.event.inputs.publish-packages || false) && matrix.os == 'ubuntu-latest' }}
          Publish__IsAlpha: ${{ github.event.inputs.is-alpha || true }}
          Codacy__ApiKey: ${{ secrets.CODACY_APIKEY }}
          CodeCov__Token: ${{ secrets.CODECOV_TOKEN }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
