name: Renovate

on:
  schedule:
    - cron: "0 */1 * * *"

jobs:

  build:

    runs-on: ubuntu-latest 

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Renovate Bot GitHub Action
      uses: renovatebot/github-action@v36.0.0
      with:
        token: ${{ secrets.RENOVATE_PAT }}
      env:
          RENOVATE_AUTODISCOVER: true
